{$DOMAIN} {
    encode zstd gzip

    @api path /api/* /healthz /readyz
    reverse_proxy @api api:8000

    @telegram_webhook path /webhook
    reverse_proxy @telegram_webhook bot:8081

    respond "SS Bot is running" 200
}
